@import url(reset.css);
@import url(effect.css);

/*==========layout============*/

body {
  font-size: 14px;
  color: #4e4e4e;
  line-height: 1.4;
}
.wrap {
  width: 100%;
  min-width: 1024px;
}

/*============header============*/
header {
  width: 100%;
  height: 100px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  line-height: 100px;
  background-color: #fff;
  z-index: 999;
}
header .logo {
  display: block;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #39312b;
  float: left;
}
header .logo .colon {
  color: gray;
  margin: 0 2px;
}
header nav .gnb {
  float: right;
}
header nav .gnb li {
  display: inline-block;
  margin-left: 60px;
}
header nav .gnb li a {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
header nav .gnb li a:after {
  content: '';
  width: 0%;
  height: 1px;
  position: absolute;
  background-color: #888;
  bottom: 36px;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.4s;
}

header nav .gnb li a:hover:after,
header nav .gnb li a:focus:after {
  width: 100%;
}

/*======VISUAL LANDING ======*/
section.visual {
  margin-top: 0;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}
section.visual:before {
  content: '';
  width: 53%;
  height: 200px;
  position: absolute;
  bottom: 180px;
  right: 0%;
  background-color: #f0f0f0;
}
section.visual .img {
  top: 100px;
  width: 89.3%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: translateY(-25%);
}

section.visual .img:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  background-color: black;
  animation: alphaOpacity 5s;
  opacity: 0.5;
  z-index: 1;
}

section.visual .img img {
  width: 100%;

  transform: scale(1);
  animation: scaleAni 15s ease-in-out;
}

section.visual .img .mask {
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.16);
  border: none;
  z-index: 1;
}

section.visual .img .mask.a {
  left: 0%;
  animation: mask 0.6s ease-in-out;
}
section.visual .img .mask.b {
  left: 25%;
  animation: mask 0.8s ease-in-out;
}
section.visual .img .mask.c {
  left: 50%;
  animation: mask 1s ease-in-out;
}
section.visual .img .mask.d {
  left: 75%;
  animation: mask 1.2s ease-in-out;
}
/*=========VISUAL TITLE=========*/
section.visual .title {
  position: absolute;
  top: 40%;
  left: 8%;
  color: #fff;
}

section.visual .title h2 {
  font-size: 50px;
  margin-bottom: 20px;
  animation: slide-up 1.8s ease-in-out;
}
section.visual .title p {
  font-size: 20px;
  font-weight: 300;
  animation: slide-up 2.2s ease-in-out;
}
/*=========VISUAL MENU=========*/
section.visual .menu {
  position: absolute;
  width: 89.3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 30%;
  animation: slide-up 2.5s ease-in-out;
}

section.visual .menu li a {
  color: #fff;
}
section.visual .menu li a .logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

section.visual .menu li a .frontend-logo,
.backend-logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
section.visual .menu li a .js-logo {
  width: 32px;
  height: 40px;
}

section.visual .menu li a .nodejs-logo {
  width: 70px;
  height: 40px;
}
section.visual .menu li a .frontend-logo:hover,
.python-logo:hover,
.nodejs-logo:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}

section.visual .menu li a .full-logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-left: 5px;
}
section.visual .menu li a .menu-inside-box {
  float: left;
}
section.visual .menu li a .menu-inside-box:hover {
  color: pink;
}
section.visual .menu li a .topP {
  font-weight: 100;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
section.visual .menu li a .underP {
  font-weight: bold;
  line-height: 1.6;
}

/*=======VISUAL ARROW =======*/

section.visual .menu li a .arrow {
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

section.visual .menu li a .arrow:before {
  content: '';
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(252, 252, 252, 0.4);
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: -1;
  transition: all 0.2s;
}

section.visual .menu li a .arrow:hover:before,
section.visual .menu li a .arrow:hover:focus {
  right: 0;
  top: 0;
}
/*=========ABOUT=========*/
section.about {
  width: 95%;
  margin: 40px;
  text-align: center;
  position: relative;
}
section.about img {
  width: 100%;
}
section.about .inner {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}
section.about .inner h2 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
section.about .inner h2 {
  animation: slide-up 0.8s ease;
}

section.about .inner .line {
  width: 40%;
  margin: 80px auto 30px auto;
  position: relative;
}

section.about .inner .line span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
section.about .inner .line span {
  animation: opacity-ani 0.8s;
}

section.about .inner .line li {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

section.about .inner .line li.a {
  left: 0;
  top: -2px;
}
section.about .inner .line li.b {
  left: 50%;
  transform: translateX(-50%);
  top: -2px;
}
section.about .inner .line li.c {
  right: 0;
  top: -2px;
}
section.about .inner .line li.a {
  animation: opacity-ani 0.8s ease-in-out;
}
section.about .inner .line li.b {
  animation: opacity-ani 1.4s ease-in-out;
}
section.about .inner .line li.c {
  animation: opacity-ani 2s ease-in-out;
}
section.about .inner .line li:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 0px;
  top: 0px;
  animation: dot 1.5s infinite;
}
section.about .inner ul {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section.about .inner ul li {
  color: #c5c5c5;
  width: 33.33333%;
  font-size: 17px;
  font-weight: 100;
}
section.about .inner ul li {
  animation: slide-up2 2.4s ease-in-out;
}
section.about .inner ul li:nth-child(2) {
  animation: slide-up2 3s ease-in-out;
}
section.about .inner ul li:nth-child(3) {
  animation: slide-up2 3.6s ease-in-out;
}

section.about .inner ul h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}
